In [1]:
import pandas as pd

In [2]:
viajeros = pd.read_csv('viajeros.csv', sep=';', encoding='latin-1')

In [3]:
viajeros.head()

    A¤o  Mes  Dia mes Visitantes totales
0  2013    1        1            2338,00
1  2013    1        2            9376,00
2  2013    1        3            9190,00
3  2013    1        4            9523,00
4  2013    1        5            5492,00

In [4]:
#juntame el año mes y dia mes
viajeros['fecha'] = viajeros['A¤o'].astype(str) + '-' + viajeros['Mes'].astype(str)

In [5]:
#Ahora juntame la fecha con el dia del mes
viajeros['fecha'] = viajeros['fecha'] + '-' + viajeros['Dia mes'].astype(str)

In [6]:
#Elimina las columnas Año/mes/dia mes
viajeros = viajeros.drop(['A¤o', 'Mes', 'Dia mes'], axis=1)

In [7]:
#Ordename las columnas, que la fecha sea primero
viajeros = viajeros[['fecha', 'Visitantes totales']]

In [8]:
viajeros.head()

      fecha Visitantes totales
0  2013-1-1            2338,00
1  2013-1-2            9376,00
2  2013-1-3            9190,00
3  2013-1-4            9523,00
4  2013-1-5            5492,00

In [9]:
viajeros.to_csv('viajeros_clean.csv', index=False)

In [10]:
viajeros_clean = pd.read_csv('viajeros_clean.csv')

In [11]:
viajeros_clean.head()

      fecha Visitantes totales
0  2013-1-1            2338,00
1  2013-1-2            9376,00
2  2013-1-3            9190,00
3  2013-1-4            9523,00
4  2013-1-5            5492,00

In [12]:
viajeros_clean['Visitantes totales'] = viajeros_clean['Visitantes totales'].astype(str)
viajeros_clean['Visitantes totales'] = viajeros_clean['Visitantes totales'].str[:-3].astype(int)

In [13]:
print(viajeros_clean.dtypes)

fecha                 object
Visitantes totales     int32
dtype: object

In [14]:

# Asegúrate de que la columna 'fecha' sea de tipo datetime si no lo es
viajeros_clean['fecha'] = pd.to_datetime(viajeros_clean['fecha'])

# Establece la columna 'fecha' como índice del DataFrame
viajeros_clean.set_index('fecha', inplace=True)

# Agrupa los datos por semana y suma los 'Visitantes totales' por semana
visitantes_semanales = viajeros_clean.resample('W').sum()

In [15]:
viajeros_diarios= viajeros_clean
viajeros_diarios.head()

            Visitantes totales
fecha
2013-01-01                2338
2013-01-02                9376
2013-01-03                9190
2013-01-04                9523
2013-01-05                5492

In [16]:
viajeros_semanales=visitantes_semanales
viajeros_semanales.head()

            Visitantes totales
fecha
2013-01-06               39175
2013-01-13               62527
2013-01-20               59026
2013-01-27               57169
2013-02-03               62514

In [17]:
#Guardar en csv viaeros diarios y viajeros semanales
viajeros_diarios.to_csv('viajeros_diarios.csv')
viajeros_semanales.to_csv('viajeros_semanales.csv')